<div class="container hero-container">
  <div class="hero-cont-text"><h1 class="hero-heading">Learn to Cook <span class="hero-span">Tasty Treats'</span>  Customizable Masterclass</h1>
  <p class="hero-text">TastyTreats - Customize Your Meal with Ingredient Options and Step-by-Step Video Guides.</p>
  <button class="hero-btn" type="button" >Order now</button></div>
  
<div class="hero-slider swiper-container">
    <div class="swiper-wrapper">
      <div class="img-slider swiper-slide">
        <div class="image-slider_image"><img class="img-slider-one" src="../img/IMG_9893 1.jpg" alt="Изображение 1"></div>
        <div class="image-slider_image"><img class="img-slider-two" src="../img/card.jpg" alt="Изображение 2"></div>
        <div class="image-slider_image"><img class="img-slider-three" src="../img/pizza picture.jpg" alt="Изображение 3"></div>
  
      </div>
      <div class=" img-slider swiper-slide">
        <div class="image-slider_image"><img class="img-slider-one" src="../img/IMG_9893 1.jpg" alt="Изображение 1"></div>
        <div class="image-slider_image"><img class="img-slider-two" src="../img/card.jpg" alt="Изображение 2"></div>
        <div class="image-slider_image"><img class="img-slider-three" src="../img/pizza picture.jpg" alt="Изображение 3"></div>
        
      </div>
      <div class="img-slider swiper-slide">
        <div class="image-slider_image"><img class="img-slider-one" src="../img/IMG_9893 1.jpg" alt="Изображение 1"></div>
        <div class="image-slider_image"><img class="img-slider-two" src="../img/card.jpg" alt="Изображение 2"></div>
        <div class="image-slider_image"><img class="img-slider-three" src="../img/pizza picture.jpg" alt="Изображение 3"></div>
        
      </div>
      <!-- Добавьте другие слайды здесь -->
    </div>
    <!-- Добавьте стрелки навигации, если хотите -->
    <div class="swiper-pagination"></div>
  </div></div>