<div class="container">
    <picture>
        <source media="(min-width:1200px)" srcset="../img/hero-fav-desk-x1.jpg 1x,
        ../img/hero-fav-desk-x2.jpg 2x
          ">
        <source media="(min-width:768px)" srcset="
        ../img/hero-fav-tab-x1.jpg 1x,
        ../img/hero-fav-tab-x2.jpg 2x
          ">
        <img class="ts-img" srcset="
        ../img/hero-fav-mob-x1.jpg 1x,
        ../img/hero-fav-mob-x2.jpg 2x
          " src="../img/hero-fav-mob-x1.jpg" alt="hero-picture" loading="lazy">
      </picture>
</div>